service: abc-back

plugins:
  - serverless-iam-roles-per-function
  - serverless-apigw-binary

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: ${opt:stage, 'dev'}

functions:
  assumeRoleFunction:
    handler: src/handlers/assumeRole.handler
    package:
      include:
        - handlers/**
      exclude:
        - layers/**
        - vars/**
    events:
      - http:
          path: /get-credentials
          method: get
          cors: true  # Habilita CORS para esta función
    layers:
      - arn:aws:lambda:us-east-1:891377185682:layer:AbcDbLambdaLayerDev:5
      - arn:aws:lambda:us-east-1:891377185682:layer:LibsLambdaLayerDev:4
    iamRoleStatements:
      - Effect: Allow
        Action:
          - sts:AssumeRole
        Resource: 'arn:aws:iam::891377185682:role/UploadToS3'
      - Effect: Allow
        Action:
          - s3:PutObject
        Resource: 'arn:aws:s3:::abc-uploaded-files-dev/*'

  getPortionsFunction:
    handler: src/handlers/portions.handler
    package:
      include:
        - handlers/**
      exclude:
        - layers/**
        - vars/**
    events:
      - http:
          path: /portions
          method: get
          cors: true  # Habilita CORS para esta función
    environment: ${file(./vars/config.json)}
    layers:
      - arn:aws:lambda:us-east-1:891377185682:layer:AbcDbLambdaLayerDev:5
      - arn:aws:lambda:us-east-1:891377185682:layer:LibsLambdaLayerDev:4
  postFileFunction:
    handler: src/handlers/uploads.handler
    package:
      include:
        - handlers/**
      exclude:
        - layers/**
        - vars/**
    events:
      - http:
          path: /upload-file
          method: post
          cors: true  # Habilita CORS para esta función
    environment: ${file(./vars/config.json)}
    layers:
      - arn:aws:lambda:us-east-1:891377185682:layer:AbcDbLambdaLayerDev:5
      - arn:aws:lambda:us-east-1:891377185682:layer:LibsLambdaLayerDev:4
    iamRoleStatements:
      - Effect: Allow
        Action: lambda:InvokeFunction
        Resource: arn:aws:lambda:us-east-1:891377185682:function:abc-back-${self:provider.stage}-processFileFunction
      - Effect: Allow
        Action:
          - s3:GetObject
        Resource: 'arn:aws:s3:::abc-uploaded-files-dev/*'
  processFileFunction:
    handler: src/handlers/uploads.processUpload
    timeout: 900
    package:
      include:
        - handlers/**
      exclude:
        - layers/**
        - vars/**
    environment: ${file(./vars/config.json)}
    layers:
      - arn:aws:lambda:us-east-1:891377185682:layer:AbcDbLambdaLayerDev:5
      - arn:aws:lambda:us-east-1:891377185682:layer:LibsLambdaLayerDev:4
  
  emmaProcessFunction:
    handler: src/handlers/emma_process.handler
    events:
      - http:
          path: /emma-process
          method: post
          cors: true  # Habilita CORS para esta función
    package:
      include:
        - handlers/**
      exclude:
        - layers/**
        - vars/**
    environment: ${file(./vars/config.json)}
    layers:
      - arn:aws:lambda:us-east-1:891377185682:layer:AbcDbLambdaLayerDev:5
      - arn:aws:lambda:us-east-1:891377185682:layer:LibsLambdaLayerDev:4
    iamRoleStatements:
      - Effect: Allow
        Action: lambda:InvokeFunction
        Resource: arn:aws:lambda:us-east-1:891377185682:function:abc-back-${self:provider.stage}-createEmmaProcessFunction
  createEmmaProcessFunction:
    handler: src/handlers/emma_process.createEmmaProcess
    timeout: 900
    package:
      include:
        - handlers/**
      exclude:
        - layers/**
        - vars/**
    environment: ${file(./vars/config.json)}
    layers:
      - arn:aws:lambda:us-east-1:891377185682:layer:AbcDbLambdaLayerDev:5
      - arn:aws:lambda:us-east-1:891377185682:layer:LibsLambdaLayerDev:4
  getUploadsFunction:
    handler: src/handlers/uploads.get
    package:
      include:
        - handlers/**
      exclude:
        - layers/**
        - vars/**
        - vars
    events:
      - http:
          path: /uploads
          method: get
          cors: true  # Habilita CORS para esta función
    environment: ${file(./vars/config.json)}
    layers:
      - arn:aws:lambda:us-east-1:891377185682:layer:AbcDbLambdaLayerDev:5
      - arn:aws:lambda:us-east-1:891377185682:layer:LibsLambdaLayerDev:4
  
  getAdlUploadsFunction:
    handler: src/handlers/uploads_adl.get
    package:
      include:
        - handlers/**
      exclude:
        - layers/**
        - vars/**
        - vars
    events:
      - http:
          path: /adl/uploads
          method: get
          cors: true  # Habilita CORS para esta función
    environment: ${file(./vars/config.json)}
    layers:
      - arn:aws:lambda:us-east-1:891377185682:layer:AbcDbLambdaLayerDev:5
      - arn:aws:lambda:us-east-1:891377185682:layer:LibsLambdaLayerDev:4

  postDeleteUploadFunction:
    handler: src/handlers/emma_process.deleteEmmaProcess
    timeout: 30
    package:
      include:
        - handlers/**
      exclude:
        - layers/**
        - vars/**
    events:
      - http:
          path: /delete-emma-process
          method: post
          cors: true  # Habilita CORS para esta función
    environment: ${file(./vars/config.json)}
    layers:
      - arn:aws:lambda:us-east-1:891377185682:layer:AbcDbLambdaLayerDev:5
      - arn:aws:lambda:us-east-1:891377185682:layer:LibsLambdaLayerDev:4
  regularizadosProcessFunction:
    handler: src/handlers/regularizados.handler
    events:
      - http:
          path: /regularizados
          method: post
          cors: true  # Habilita CORS para esta función
    package:
      include:
        - handlers/**
      exclude:
        - layers/**
        - vars/**
    environment: ${file(./vars/config.json)}
    layers:
      - arn:aws:lambda:us-east-1:891377185682:layer:AbcDbLambdaLayerDev:5
      - arn:aws:lambda:us-east-1:891377185682:layer:LibsLambdaLayerDev:4
    iamRoleStatements:
      - Effect: Allow
        Action: lambda:InvokeFunction
        Resource: arn:aws:lambda:us-east-1:891377185682:function:abc-back-${self:provider.stage}-createRegularizadosProcessFunction
  createRegularizadosProcessFunction:
    handler: src/handlers/regularizados.createRegularizadosProcess
    timeout: 900
    package:
      include:
        - handlers/**
      exclude:
        - layers/**
        - vars/**
    environment: ${file(./vars/config.json)}
    layers:
      - arn:aws:lambda:us-east-1:891377185682:layer:AbcDbLambdaLayerDev:5
      - arn:aws:lambda:us-east-1:891377185682:layer:LibsLambdaLayerDev:4

  postAdlFileFunction:
    handler: src/handlers/uploads_adl.handler
    package:
      include:
        - handlers/**
      exclude:
        - layers/**
        - vars/**
    events:
      - http:
          path: /adl/upload-file
          method: post
          cors: true  # Habilita CORS para esta función
    environment: ${file(./vars/config.json)}
    layers:
      - arn:aws:lambda:us-east-1:891377185682:layer:AbcDbLambdaLayerDev:5
      - arn:aws:lambda:us-east-1:891377185682:layer:LibsLambdaLayerDev:4
    iamRoleStatements:
      - Effect: Allow
        Action: lambda:InvokeFunction
        Resource:
          - arn:aws:lambda:us-east-1:891377185682:function:abc-back-${self:provider.stage}-processAdlFileFunction
          - arn:aws:lambda:us-east-1:891377185682:function:abc-back-${self:provider.stage}-processAdlFileFunction:*
      - Effect: Allow
        Action:
          - s3:GetObject
        Resource: 'arn:aws:s3:::abc-uploaded-files-dev/*'
  processAdlFileFunction:
    handler: src/handlers/uploads_adl.processUpload
    timeout: 900
    package:
      include:
        - handlers/**
      exclude:
        - layers/**
        - vars/**
    environment: ${file(./vars/config.json)}
    iamRoleStatements:
      - Effect: Allow
        Action:
          - s3:GetObject
        Resource: 'arn:aws:s3:::abc-uploaded-files-dev/*'
    layers:
      - arn:aws:lambda:us-east-1:891377185682:layer:AbcDbLambdaLayerDev:5
      - arn:aws:lambda:us-east-1:891377185682:layer:LibsLambdaLayerDev:4
  

  adlProcessFunction:
    handler: src/handlers/adl_process.handler
    events:
      - http:
          path: /adl-process
          method: post
          cors: true  # Habilita CORS para esta función
    package:
      include:
        - handlers/**
      exclude:
        - layers/**
        - vars/**
    environment: ${file(./vars/config.json)}
    layers:
      - arn:aws:lambda:us-east-1:891377185682:layer:AbcDbLambdaLayerDev:5
      - arn:aws:lambda:us-east-1:891377185682:layer:LibsLambdaLayerDev:4
    iamRoleStatements:
      - Effect: Allow
        Action: lambda:InvokeFunction
        Resource: arn:aws:lambda:us-east-1:891377185682:function:abc-back-${self:provider.stage}-createAdlProcessFunction
  createAdlProcessFunction:
    handler: src/handlers/adl_process.createAdlProcess
    timeout: 900
    package:
      include:
        - handlers/**
      exclude:
        - layers/**
        - vars/**
    environment: ${file(./vars/config.json)}
    layers:
      - arn:aws:lambda:us-east-1:891377185682:layer:AbcDbLambdaLayerDev:5
      - arn:aws:lambda:us-east-1:891377185682:layer:LibsLambdaLayerDev:4
layers:
  AbcDbLambdaLayerDev:
    path: layers/abc-db
    compatibleRuntimes:
      - nodejs14.x
      - nodejs20.x
    retain: true
  LibsLambdaLayerDev:
    path: layers/libs-layer
    compatibleRuntimes:
      - nodejs14.x
      - nodejs20.x
    retain: true

# Configuración global de CORS
custom:
  apigwBinary:
    types:
      - '*/*'
  apigwCors:
    origins: '*'  # Puedes ajustar según tus necesidades
    headers:
      - Content-Type
      - X-Amz-Date
      - Authorization
      - X-Api-Key
      - X-Amz-Security-Token
      - X-Amz-User-Agent
      - x-requested-with
    allowCredentials: true

resources:
  Resources:
    MyLambdaPermission:
      Type: AWS::Lambda::Permission
      Properties:
        Action: lambda:InvokeFunction
        FunctionName:
          Fn::GetAtt:
            - PostFileFunctionLambdaFunction
            - Arn
        Principal: events.amazonaws.com

